MANIFEST
build
dist
*.egg-info
*.pyc
*.pyo
.#*
*~
*.rc
*.log
env
docs/_build
bench/a
bench/b
.coverage
coverage_out
build/*
build-stamp
configure-stamp
/debian/*/
/debian/files
*.dsc
*.tar.gz
*.deb
*.changes
*.build
*.upload
*.debhelper.log
*.postinst.debhelper
*.postrm.debhelper
*.prerm.debhelper
*.substvarsx